body {
  margin: 0;
  padding: 0;
  background: lightblue;
  font-family: sans-serif;
}

svg {
  width: 60vmin;
  margin: 10vmin;
  margin-top: 0;
  background: white;
}

svg text {
  font-size: 2px;
  color: grey;
}

svg #border {
  stroke-width: 0.1px;
  stroke: grey;
}

svg rect {
  fill: lightcoral;
  transition: all;
}

button {
  display: block;
  margin-left: 10vmin;
  padding: 10px 20px;
}
